 @import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
  overflow:hidden;
  height:100%;
  width:100%;
}

#field {
  height: 96vh;
  border-bottom: 6px black groove;
  width:100%;
  position: relative;
  /*background-color: #d4418e;*/
  background-repeat: no-repeat;
  background-size: 100% 96vh;
  background-image: url('../img/back.png');
}

#textExample{
	color: black;
	background-color: transparent;
}

#house{
	margin-left: 6%;
	margin-top: 67vh;
	position: absolute;
}

#ball {
  position: absolute;
  cursor: pointer;
  margin-left: 10%;
  -webkit-transform = scaleX(-1);
}

.ml15 {
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  position : absolute;
  top: 40%;
  left: 34%;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

.ml2 {
  font-weight: 900;
  font-size: 1.5em;
  position: absolute;
  top: 57%;
  left: 40%;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

#home{
  height: 96vh;
  width: 100%;
  position: absolute;
  left:-100%;
  z-index:10;
}


#main_area {
    position:absolute;
    height:100%;
    z-index:2;
}

#main_area1 {
    position:absolute;
    height:100%;
    z-index:5;
}

.transp {
    filter:alpha(opacity=20);
    opacity:0.2;
    position:absolute;
}

.transp1 {
    filter:alpha(opacity=20);
    opacity:0.2;
    position:absolute;
}

#avoid{
       
}